body {
  text-align: center;
  color: #ffd384;
  background: rgb(64, 158, 91);
  background: radial-gradient(
    circle,
    rgba(64, 158, 91, 1) 0%,
    rgba(48, 133, 55, 1) 35%,
    rgba(33, 57, 36, 1) 100%
  );
}

img {
  border-radius: 280px;
  width: 140px;
}

h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300wh;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;

  margin: 0 auto;
  width: 300px;
  height: 17px;

  /* position: absolute; */

  /* position: absolute; */
  /* top: 45%; */
  right: 0;
  left: 0;
  font-weight: 300wh;
  /* background: #232323; */
  background: white;
  padding: 3vh;
  text-align: center;
  align-items: center;
  text-decoration: none;
  width: 1000wh;
  color: #232323;
  font-family: "Montserrat";
  font-size: 10000wh;
  /* border: 1px solid #232323; */
  border-radius: 10px;
  display: inline-block;
  transition: 0.25s;
}

a:hover {
  background: #232323;
  color: white;
}

.linktree {
  margin: 15px;
  display: flexbox;
}
